<ul *ngIf="paginas?.length > 0 " class="pagination">

    <li [ngClass]="paginador.first?'disabled page-item': 'page-item'">
        <a class="page-link" [routerLink]="['/clientes/page', 0]" title="primera página">&laquo;</a>
    </li>

    <li class="page-item" *ngIf="paginador.number > 0">
        <a class="page-link" [routerLink]="['/clientes/page', paginador.number-1]" title="página anterior">&lsaquo;</a>
    </li>

    <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginador.number?'active':''">
        <span class="page-link" *ngIf="pagina-1 == paginador.number">{{pagina}}</span>
        <a *ngIf="pagina-1 != paginador.number" class="page-link" [routerLink]="['/clientes/page', pagina-1]">
            {{pagina}}
        </a>
    </li>

    <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
        <a class="page-link" [routerLink]="['/clientes/page', paginador.number+1]" title="página siguiente">&rsaquo;</a>
    </li>

    <li [ngClass]="paginador.last?'disabled page-item': 'page-item'">
        <a class="page-link" [routerLink]="['/clientes/page', paginador.totalPages-1]" title="última página">&raquo;</a>
    </li>

</ul>
