<button type="button" (click)="habilitar = (habilitar)? false: true" class="btn btn.primary my-3">{{habilitar? 'Ocultar': 'Mostrar'}}</button>
<div class="card">
    <div class="card-header">
        Listado de Cursos
    </div>
    <ul class="list-group" *ngIf="habilitar == true">
        <li class="list-group-item" *ngFor="let item of listaCurso">{{item}}</li>
    </ul>
</div>
