<app-detalle *ngIf="clienteSeleccionado" [cliente] = "clienteSeleccionado"></app-detalle>

<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>

        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
        </div>
        <div *ngIf="clientes?.length == 0" class="alert alert-info">
            No hay registros !
        </div>
        <table class="table table-boarder table-striped" *ngIf="clientes?.length>0">
            <thead>
                <tr>
                    <th>foto</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>fecha nacimiento</th>
                    <th>email</th>
                    <th>region</th>
                    <th>fecha registro</th>
                    <th>editar</th>
                    <th>eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>
                        <img *ngIf="cliente?.foto" src="http://localhost:8080/api/upload/img/{{cliente.foto}}" (click)="abrirModal(cliente)" alt="cliente.foto" class="img-thumbnail rounded"
                        style="width: 60px; cursor: pointer">
                        <img *ngIf="!cliente?.foto" src="http://localhost:8080/images/perfil.png" (click)="abrirModal(cliente)" alt="Sin imagen" class="img-thumbnail rounded"
                        style="width: 60px; cursor: pointer">
                    </td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.fechaNacimiento | date:"dd/MM/yyyy"}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.region.nombre}}</td>
                    <td>{{cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
                    <td>
                        <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>
                    </td>                    
                    <td>
                        <button type="button" name="eliminar" class="btn btn-danger" (click)="delete(cliente)">eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
    </div>
</div>