<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{err}}
    </li>
</ul>

<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form>
            <div class="form-group row">
                <label for="nombre" class="my-2 col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength="2" #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            El nombre es requerido.
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            El nombre debe contener al menos 2 caracteres.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="my-2 col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required minlength="2" #apellido="ngModel"> 
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors.required">
                            El apellido es requerido.
                        </div>
                        <div *ngIf="apellido.errors.minlength">
                            El apellido debe contener al menos 2 caracteres.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="fechaNacimiento" class="my-2 col-form-label col-sm-2">Fecha de Nacimiento</label>
                <div class="col-sm-6">
                    <input matInput [matDatepicker]="picker" class="form-control" [(ngModel)]="cliente.fechaNacimiento" name="fechaNacimiento" style="display: inline; width: 90%">
                    <mat-datepicker-toggle matSuffix [for]="picker" style="color: white;"></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                </div>
            </div>

            <div class="form-group row">
                <label for="region" class="my-2 col-form-label col-sm-2">Región</label>
                <div class="col-sm-6">
                    <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region" style="width: 100%">
                        <option [ngValue]="undefined">---Seleccione una Región---</option>
                        <option [ngValue]="region" *ngFor="let region of regiones">{{region.nombre}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="my-2 col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email="ngModel">
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            El email es requerido.
                        </div>
                        <div *ngIf="email.errors.email">
                            El email no tiene el formato válido.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="my-2 col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else editar">Crear</button>

                    <ng-template #editar>
                        <button class="btn btn-primary" role="button" (click)="update()">Editar</button>
                    </ng-template>

                </div>
            </div>

        </form>
    </div>
</div>